<div id="<%= dom_id student %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= student.first_name %> <%= student.last_name %></h5>

    <p class="card-text">
      <strong>Major:</strong> <%= student.major %><br>
      <strong>Minor:</strong> <%= student.minor.present? ? student.minor : 'N/A' %><br>
      <strong>Expected Graduation Date:</strong> <%= student.expected_graduation_date.strftime("%B %d, %Y") %>
    </p>

    <div class="d-flex justify-content-end">
      <%= link_to 'Show Student', student_path(student), class: 'btn btn-primary btn-sm me-2' %>
      <%= link_to 'Edit Student', edit_student_path(student), class: 'btn btn-secondary btn-sm me-2' %>
      <%= link_to 'Destroy Student', student_path(student), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
    </div>
  </div>
</div>