<p style="color: green"><%= notice %></p>

<% content_for :title, "Students" %>

<h1>Students</h1>

<%= link_to "Back to Students", students_path, class: "btn btn-primary", style: "margin-bottom: 10px;" %>

<!-- Render the search form -->
<%= render "search_form" %>

<h3 style="margin-top: 20px;">Students List</h3>

<div id="students">
  <% if @students.any? %>
    <% @students.each do |student| %>
      <%= render student %>
      <p><%= link_to "Show this student", student %></p>
    <% end %>
  <% elsif @students.empty? %>
    <p style="color: red">No students found.</p>
  <% end %>
</div>

<%= link_to "New Student", new_student_path, class: "btn btn-success", style: "margin-top: 20px;" %>